/* 
    Document   : styles.css
    Created on : 02-Mar-2012, 23:28:19
    Author     : chris
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    font-family: 'Droid Sans', sans-serif;
}

h1 {
    font-size: 2.5em;
}

h1 a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 1.5em;
}

h2 a {
    text-decoration: none;
    color: black;
}

.container {
    background: white;
}

#header {
    border-bottom: #000;
    border-bottom-style: solid;
}

    #header #sitename {
        font-size:xx-large;   
    }

#footer {
    border-top: #000;
    border-top-style: double;
    
    border-bottom: #000;
    border-bottom-style: solid;
    
    margin-top: 60px;
}