
h1,h2,h3,h4,h5,h6 {
	font-family: sans-serif;
	color: #4000A0;
}

h1 {
	font-size: 24pt;
}

h2 {
	font-size: 16pt;
}

h3 {
	font-size: 14pt;
}

h4 {
	font-size: 12pt;
	font-weight: bold;
}

table {
	width: 100%;
}

table,th,td {
	border: 1px solid gray;
	padding: 10px;
}

th {
	background: gainsboro;
	font-weight: bold;	
}

td {
	font-family: monospace;
	font-size: +1em;
}

form input[type=text] {
	width: 100%;
	font-family: serif;
	font-size: 14pt;
}

textarea {
	width: 100%;
}

.shade {
	background: #CEB5FF;
}
