@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,500,700");
@import url("http://fonts.googleapis.com/css?family=Sonsie+One");

root { 
    display: block;
}

body {
    font-family: sans-serif;
    font-size: 8pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 18pt;
    border-bottom-color: #DDD;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

h3 {
    font-size: 12pt;
}

#container-container {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    
    
    box-shadow:         0px 0px 20px 3px #ccc;
    -moz-box-shadow:    0px 0px 20px 3px #ccc;
    -webkit-box-shadow: 0px 0px 20px 3px #ccc;
}

#header-top-left-logo{
    font-family: 'Sonsie One', cursive;
}

#header-top-right{
    text-align: right;
}

#header-bottom-right{
    text-align: right;
}

#footer-top {
    background: gainsboro;
    margin-top: 20px;
}

#footer-top h3 {
    color: gray;
}

#footer-bottom h3 {
    color: cornflowerblue;
}

#content-home-welcome p {
    font-size: 11pt;
}

.product-home{
    text-align: center;
}

.product-home .product-image img{
    width: 90%;
}