@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,500,700");
@import url("http://fonts.googleapis.com/css?family=Sonsie+One");

root { 
    display: block;
}

body {
    font-family: sans-serif;
    font-size: 8pt;
    background-image: url("images/texture.png");
    background-color: #CEE3F6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 18pt;
    border-bottom-color: #DDD;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

h3 {
    font-size: 12pt;
}

#container-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 10px;
    
    width: 980px;
    
    background: white;
    
    box-shadow:         0px 0px 20px 3px #ccc;
    -moz-box-shadow:    0px 0px 20px 3px #ccc;
    -webkit-box-shadow: 0px 0px 20px 3px #ccc;
}

#header-bottom {
    margin-bottom: 20px;
}

#header-top-left-logo{
    font-family: 'Sonsie One', cursive;
    font-size: 14pt;
    margin-top: 10px;
}

#header-top-right{
    text-align: right;
}

#header-bottom-right{
    text-align: right;
}

#footer-top {
    background: gainsboro;
    margin-top: 20px;
}

#footer-top h3 {
    color: gray;
}

#footer-bottom h3 {
    color: cornflowerblue;
}

#content-home-welcome p {
    font-size: 11pt;
}

#banner-top {
    background-image: url("images/background.jpg");
}

#banner-top img {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 20px;
    float: left;
}

#banner-top h1 {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 32pt;
}

#banner-top h3 {
    padding-right: 20px;
    font-size: 36pt;
}

#banner-top h3 {
    padding-right: 40px;
    margin-bottom: 5px;
    font-size: 36pt;
    text-align: right;
}

#banner-top p {
    padding-right: 40px;
    font-size: 14pt;
    text-align: right;
}

#banner-top .product-price-was{
    padding-left: 120px;
    font-size: 24pt;
    font-weight: bold;
    text-align: right;
    float: left;
}

#banner-top .product-price-selling{
    padding-right: 40px;
    padding-left: 40px;
    font-size: 24pt;
    font-weight: bold;
    color: #F12B63;
    text-align: right;
    
}

/* HOME PAGE */

.product-home{
    text-align: center;
    border-left-style: dotted;
    border-left-color: grey;
}

.product-home .product-image {
    height: 140px;
    overflow: hidden;
}

.product-home .product-image img{
    width: 90%;
}

.product-home .product-name h3{
    font-size: 10pt;
    height: 60px;
}

.product-home a {
    text-decoration: none;
    color: black;
}

.product-home a:hover {
    color: #F12B63;
}

.product-home .wasprice {
    text-decoration: line-through;
}

.product-home .sellingprice {
    font-size: 12pt;
    font-weight: bolder;
    color: #F12B63;
}

.product-home .saving {
    color: #52B3CB;
    font-weight: bold;
}

.product-home .product-addtocart{
    margin-top: 5px;
}

.product-home .button-highlight{
    background-color: #F12B63;
    color: white;
    font-size: 12pt;
    border-color: red;
}

/* SEARCH RESULTS */

.product-search{
    text-align: left;
}

.product-search .product-image {
    height: 140px;
    overflow: hidden;
}

.product-search .product-image img{
    width: 90%;
}

.product-search .product-name h3{
    font-size: 10pt;
}

.product-search a {
    text-decoration: none;
    color: black;
}

.product-search a:hover {
    color: #F12B63;
}

.product-search .wasprice {
    text-decoration: line-through;
}

.product-search .sellingprice {
    font-size: 12pt;
    font-weight: bolder;
    color: #F12B63;
}

.product-search .saving {
    color: #52B3CB;
    font-weight: bold;
}

.product-search .product-addtocart{
    margin-top: 5px;
}

.product-search .button-highlight{
    background-color: #F12B63;
    color: white;
    font-size: 12pt;
    border-color: red;
}

/* PRODUCT VIEW */


.product-view{
    text-align: left;
}

.product-view .product-image {
    overflow: hidden;
}

.product-view .product-image img{
    width: 90%;
}

.product-view .product-data {
    padding-top: 40px;
}

.product-view .product-name h3{
    font-size: 10pt;
}

.product-view a {
    text-decoration: none;
    color: black;
}

.product-view a:hover {
    color: #F12B63;
}

.product-view .wasprice {
    text-decoration: line-through;
}

.product-view .sellingprice {
    font-size: 12pt;
    font-weight: bolder;
    color: #F12B63;
}

.product-view .saving {
    color: #52B3CB;
    font-weight: bold;
}

.product-view .product-addtocart{
    margin-top: 5px;
}

.product-view .button-highlight{
    background-color: #F12B63;
    color: white;
    font-size: 12pt;
    border-color: red;
}