<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<!-- Title and SEO information -->
	<title><e4.data.title/></title>
	<meta name="abstract" content="<e4.data.abstract/>" />
	<meta name="keywords" content="<e4.data.keywords/>" />
	<meta name="description" content="<e4.data.description/>" />
	<meta name="copyright" CONTENT="<e4.data.copyright/>" />
	<!-- Google, Yahoo, and Bing tracking -->
	<meta name="google-site-verification" content="" />
	<META name="y_key" content="" />
	<meta name="msvalidate.01" content="" />
	<!-- URL canonicalisation -->
	<link rel="canonical" href="" />
	<!-- ROBOTS directives -->
	<meta name="robots" content="index,follow" />
	
	<!-- Blueprint CSS http://www.blueprintcss.org -->
	<link rel="stylesheet" href="../../engine4.net/lib/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="index.css">
	<link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400,400italic' rel='stylesheet' type='text/css'>
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="engine4.net/lib/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
   	
   	
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', '']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>
<div class="container">
	<div class="span-24 last">
		<br>
		<h1>Planet of the Penguins</h1>
	</div>
	<div class="span-24 last">
		<div class="span-16">
			<div class="span-16 last">
				<h2>Latest Fiction</h2>
			</div>
			<div class="span-16 last">
				<div class="span-5 append-1">
					<h3 class="title">Butterflies</h2>
					<p class="credits">Written By: Chris Lynch<br>Illustrated By: Jordan Mock</p>
				</div>
				<div class="span-10 last">
					<p class="excerpt">
						Aquamarine landed silently on the leaf next to her father, her wings beating softly in the warm summer air. She loved flying on a night like this, when the heat that had baked the ground during the day was released in wave upon wave of warmth. It was the whole world breathing out, lifting her on its breath.
					</p>
					<p class="excerpt-links">
						<a href="#">Read "Butterflies"</a>
					</p>
				</div>
			</div>
			<div class="span-16 last">
				<div class="span-5 append-1">
					<h3 class="title">Blood in the Water</h2>
					<p class="credits">Written By: Chris Lynch<br>Illustrated By: Stuart Tipples</p>
				</div>
				<div class="span-10 last">
					<p class="excerpt">
						The Synder Brothers weren’t smart people, but they were smart enough to know that when you got into trouble … when you got into real trouble … you went to see Cassius. And they were smart enough to know that they were in real trouble.
					</p>
					<p class="excerpt-links">
						<a href="#">Read "Butterflies"</a>
					</p>
				</div>
			</div>
			<div class="span-16 last">
				<div class="span-5 append-1">
					<h3 class="title">Chem</h2>
					<p class="credits">Written By: Chris Lynch<br>Illustrated By: Sy Wyatt</p>
				</div>
				<div class="span-10 last">
					<p class="excerpt">
						Chem hadn’t seen a human for almost forty years, the day he came across the girl. He found her scavenging on the edge of the farm, digging for roots and grubs. She was using her hands, the humans had not reinvented tools yet, and it was her yelp as her fingers struck a hidden rock that alerted him. Chem’s hearing was acute enough to hear the petals of the plants in his garden unfold in the early morning sun, and the scream of a human was deafening by comparison.
					</p>
					<p class="excerpt-links">
						<a href="#">Read "Butterflies"</a>
					</p>
				</div>
			</div>
			<div class="span-16 last">
				<h2>Latest Articles</h2>
			</div>
			<div class="span-16 last">
				<div class="span-5 append-1">
					<h3 class="title">Why You Aren't Funny'</h2>
					<p class="credits">Written By: Wes Packer<br></p>
				</div>
				<div class="span-10 last">
					<p class="excerpt">
						I know funny and, trust me fucker, you aren't it.
					</p>
					<p class="excerpt-links">
						<a href="#">Read "Butterflies"</a>
					</p>
				</div>
			</div>
		</div>
		<div class="span-7 prepend-1 last">
			<h2>Books to Buy</h2>
			<h2>Twitterati</h2>
			<h2>Linkages</h2>
		</div>
	</div>
	
</div>
</body>
</html>