<?xml version="1.0" ?>
<rss version="2.0">
<channel>
  <title>{{ this.seo.title }}</title>
  <link>{{ this.sys.basehref }}</link>
  <description></description>
  <image>
      <url></url>
      <link></link>
  </image>
  {% for post in this.app.posts %}
	{% if post.Type == 'status' %}
		<item>
		    <title>{{ post.Name }}</title>
		    <link>{{ this.sys.basehref }}Type/status</link>
		    <description>{{ post.Excerpt }}</description>
		</item>		
	{% else %}
		<item>
		    <title>{{ post.Name }}</title>
		    <link>{{ this.sys.basehref }}{{ post.URI }}</link>
		    <description>{{ post.Excerpt }}</description>
		    {% if post.FeaturedImage != '' %}
		    	<!-- <enclosure url="{{ this.sys.basehref }}{{ post.FeaturedImage }}" /> -->
		    {% endif %}
		</item>		
	{% endif %}
  {% endfor %}
</channel>
</rss> 
