<html>
<head>
	<base href="{{ this.sys.basehref }}">
		
	<!-- JQuery -->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		
	<!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	
	<!-- Our stylesheet - overrides -->
	<link href="{{ this.sys.custompath }}content/templates/style.css" rel=stylesheet type="text/css">
	
</head>
<body>
	<div class="container">
		<div id='logo' class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<h1><a href=''>Chris Lynch</a></h1>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<!-- Social media icons -->
			</div>
		</div>
		<div id='content' class="row">
			<div id='left' class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<div class="row">
				{% if this.app.posts|length > 1 %}
					{% for post in this.app.posts %}
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h2><a href='{{ post.URI }}'>{{ post.Name }}</a></h2>
							{% if post.FeaturedImage != '' %}
								<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
								<a href='{{ post.URI }}'><img src="{{ post.FeaturedImage }}" class="img-responsive"></a>
								</div>
							{% endif %}				
							<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
								<p><small>Posted on {{ post.Timestamp }}</small></p>
								<p>{{ post.Excerpt | raw }}</p>
								<p><a href='{{ post.URI }}'><em>Read "{{ post.Name }}"</em></a></p>
							</div>
						</div>
					{% endfor %}
				{% else %}
					{% for post in this.app.posts %}
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							{% if post.FeaturedImage != '' %}
								<img src="{{ post.FeaturedImage }}" class="img-responsive">
							{% endif %}				
							<h1>{{ post.Name }}</h1>
							<p><small>Posted on {{ post.Timestamp }}</small></p>
							{{ post.HTML | raw }}
						</div>
					{% endfor %}
				{% endif %}

				</div>
				<div class='row'>
					<div id='pager' class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						{% if this.app.pages > 1 %}
							<ul class="pagination">
								<li><a href="#">&laquo;</a></li>
								{% for i in range(1,this.app.pages) %}
			    					<li><a href='?page={{ i }}'>{{ i }}</a></li>
								{% endfor %}
								<li><a href="#">&raquo;</a></li>
							</ul>
						{% endif %}
					</div>
				</div>
			</div>
			<div id='right' class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class='col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2'>
					<h2>OUT NOW</h2>
					<div>
					<img src='_custom/_default/content/uploads/budget-android-tablet-guide.png' class='img-responsive opaque'>
					<h3>Budget Android Tablet Buyers Guide</h3>
					<form action='budget-android-buyers-guide'>
						<input type='submit' value='See Book' class='btn btn-primary'>
					</form>
				</div>
				<div class='col-sm-2 col-md-2 col-lg-2'>
					&nbsp;
				</div>
			</div>
		</div>
	</div>
</body>
</html>
