<html>
<head>
	<base href="">
		
	<!-- JQuery -->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		
	<!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	
	<!-- Our stylesheet - overrides -->
	<link href="{{ this.sys.custompath }}content/templates/style.css" rel=stylesheet type="text/css">
	
</head>
<body>
	<div class="container">
		<div id='logo' class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<h1><a href=''>Chris Lynch</a></h1>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<!-- Social media icons -->
			</div>
		</div>
		<div id='content' class="row">
			<div id='left' class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<div class="row">
				{% if this.app.posts|length > 1 %}
					{% for post in this.app.posts %}
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							{% if post.FeaturedImage != '' %}
								<a href='{{ post.URI }}'><img src="{{ post.FeaturedImage }}"></a>
							{% endif %}				
							<h2><a href='{{ post.URI }}'>{{ post.Name }}</a></h2>
							<p><small>Posted on {{ post.Timestamp }}</small></p>
							<p>{{ post.Excerpt | raw }}</p>
						</div>
					{% endfor %}
				{% else %}
					{% for post in this.app.posts %}
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							{% if post.FeaturedImage != '' %}
								<img src="{{ post.FeaturedImage }}">
							{% endif %}				
							<h1>{{ post.Name }}</h1>
							<p><small>Posted on {{ post.Timestamp }}</small></p>
							{{ post.HTML | raw }}
						</div>
					{% endfor %}
				{% endif %}

				</div>
			</div>
			<div id='right' class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				
			</div>
		</div>
	</div>
</body>
</html>
