<html>
<head>
	<base href="{{ this.sys.basehref }}">
		
	<!-- JQuery -->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		
	<!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	
	<!-- Our stylesheet - overrides -->
	<link href="{{ this.sys.custompath }}content/templates/style.css" rel=stylesheet type="text/css">

	<!-- Packery -->
	<script src="{{ this.sys.custompath }}content/templates/packery.pkgd.min.js"></script>

	<!-- SEO -->
	<title>{{ this.seo.title }}</title>

	<link rel="alternate" type="application/rss+xml" title="{{ this.seo.title }} Feed" href="{{ this.sys.basehref }}?feed" />

	{{ this.sys.config.HeaderTags | raw }}
</head>
<body>
	<div class="container">		
		<div class='row'>
			<div id='social' class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				{% if this.sys.config.SocialLinkFacebook != '' %} <a href='{{ this.sys.config.SocialLinkFacebook }}'><img src='_custom/_default/content/templates/images/social/24/facebook_24.png' /></a>{% endif %}
				{% if this.sys.config.SocialLinkGooglePlus != '' %} <a href='{{ this.sys.config.SocialLinkGooglePlus }}'><img src='_custom/_default/content/templates/images/social/24/google-plus_24.png' /></a> {% endif %}
				{% if this.sys.config.SocialLinkLinkedIn != '' %} <a href='{{ this.sys.config.SocialLinkLinkedIn }}'><img src='_custom/_default/content/templates/images/social/24/linkedin_24.png' /></a>{% endif %}
				{% if this.sys.config.SocialLinkTumblr != '' %} <a href='{{ this.sys.config.SocialLinkTumblr }}'><img src='_custom/_default/content/templates/images/social/24/tumblr_24.png' /></a> {% endif %}
				{% if this.sys.config.SocialLinkTwitter != '' %} <a href='{{ this.sys.config.SocialLinkTwitter }}'><img src='_custom/_default/content/templates/images/social/24/twitter_24.png' /></a> {% endif %}
				<!-- RSS Link -->
				{% if this.app.posts|length > 1 %}											<a href='{{ this.sys.basehref }}?feed'>
				{% else %}
				<a href='{{ this.sys.basehref }}?feed'>
				{% endif %}
				<img src='_custom/_default/content/templates/images/social/24/rss_24.png' />
				</a>
			</div>
		</div>
		<div id='masthead' class='row'>
			<div id='logo' class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1><a href=''>Chris Lynch: Hack of all Trades</a></h1>
			</div>
		</div>
	</div>
	<div class='container'>
	<div class='row'>
	<div id='content' class='col-xs-12 col-sm-9 col-md-9 col-lg-9'>
		<div class='itemsizer'></div>
		{% if this.app.posts|length > 1 %}
			{% for post in this.app.posts %}
			{% if post.Type == 'status' %}
				<div class="item item-{{ post.Type }}">
				<div class='iteminner'>
					<h3>{{ post.Tags | raw }}</h3>
					<p>"{{ post.Name }}"</p>
				</div>
				</div>
			{% else %}
				<div class="item item-{{ post.Type }}">
				<div class='iteminner'>
					<h2><a href='{{ post.URI }}'>{{ post.Name }}</a></h2>

					{% if post.FeaturedImage != '' %}	
						<a href='{{ post.URI }}'><img src="{{ post.FeaturedImage }}" class="img-responsive" alt="{{ post.Name }}"></a>
					{% endif %}	
					{% if post.Video != '' %}
						<div class="embed-responsive embed-responsive-16by9">
							{{ post.Video | raw }}
						</div>			
					{% endif %}			
				
					<div class='excerpt'>{{ post.Excerpt | raw }}</div>
					
					<div class='postinfo'>
						<p>
						A <a href='Type/{{ post.Type }}'>{{ post.Type }}</a> 
						saved at {{ post.Timestamp }}
						{% if post.Category != '' %}
						in {{ post.Category | raw }} 
						{% endif %}
						{% if post.Tags != '' %}
						and tagged with {{ post.Tags | raw }}
						{% endif %}
						</p>
					</div>
				</div>
				</div>
			{% endif %}
			{% endfor %}
		{% else %}
			{% for post in this.app.posts %}
				<div class='pageinner'>	
				{% if post.FeaturedImage != '' %}
					<br>
					<img src="{{ post.FeaturedImage }}" class="img-full" alt="{{ post.Name }}">
				{% endif %}
				{% if post.Video != '' %}
					<br>
					<div class="embed-responsive embed-responsive-16by9">
						{{ post.Video | raw }}
					</div>			
				{% endif %}	
				<h1>{{ post.Name }}</h1>
				{{ post.HTML | raw }}
				<hr>
				<div id="disqus_thread"></div>
				<script type="text/javascript">
				/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
				var disqus_shortname = 'planetofthepenguins'; // required: replace example with your forum shortname

				/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
				    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
				<hr>
				<p class='postinfo'>
					This is a  <a href='Type/{{ post.Type }}'>{{ post.Type }}</a> 
					saved at {{ post.Timestamp }}
					{% if post.Category != '' %}
					in {{ post.Category | raw }} 
					{% endif %}
					{% if post.Tags != '' %}
					and tagged with {{ post.Tags | raw }}
					{% endif %}
				</p>
				<hr>
				</div>
			{% endfor %}
		{% endif %}
	</div> <!-- End of content -->
	<div id='sidebar' class='col-xs-12 col-sm-3 col-md-3 col-lg-3'>
		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'><h1>Out Now</h1></div>

		<div class='book col-xs-4 col-sm-12 col-md-12 col-lg-12'>
			<a href="http://www.amazon.co.uk/gp/product/B00G3BKUSW/ref=as_li_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=B00G3BKUSW&linkCode=as2&tag=chrislynch&linkId=ZMLDJRYWCVLROTKD"><img border="0" src="http://ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00G3BKUSW&Format=_SL250_&ID=AsinImage&MarketPlace=GB&ServiceVersion=20070822&WS=1&tag=chrislynch" ></a><img src="http://ir-uk.amazon-adsystem.com/e/ir?t=chrislynch&l=as2&o=2&a=B00G3BKUSW" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div>

		<div class='book col-xs-4 col-sm-12 col-md-12 col-lg-12'>
			<a href="http://www.amazon.co.uk/gp/product/B006YG7C1O/ref=as_li_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=B006YG7C1O&linkCode=as2&tag=chrislynch&linkId=W3TG5VXKENOK64JR"><img border="0" src="http://ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B006YG7C1O&Format=_SL250_&ID=AsinImage&MarketPlace=GB&ServiceVersion=20070822&WS=1&tag=chrislynch" ></a><img src="http://ir-uk.amazon-adsystem.com/e/ir?t=chrislynch&l=as2&o=2&a=B006YG7C1O" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div>

		<div class='book col-xs-4 col-sm-12 col-md-12 col-lg-12'>
			<a href="http://www.amazon.co.uk/gp/product/1905692374/ref=as_li_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=1905692374&linkCode=as2&tag=chrislynch&linkId=ZV43WSQERNOOWIE4"><img border="0" src="http://ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1905692374&Format=_SL250_&ID=AsinImage&MarketPlace=GB&ServiceVersion=20070822&WS=1&tag=chrislynch" ></a><img src="http://ir-uk.amazon-adsystem.com/e/ir?t=chrislynch&l=as2&o=2&a=1905692374" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div>

		<div class='book col-xs-4 col-sm-12 col-md-12 col-lg-12'>
			<a href="http://www.amazon.co.uk/gp/product/B00G97233U/ref=as_li_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=B00G97233U&linkCode=as2&tag=chrislynch&linkId=H5XHCZ2CJVOOCOKO"><img border="0" src="http://ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00G97233U&Format=_SL250_&ID=AsinImage&MarketPlace=GB&ServiceVersion=20070822&WS=1&tag=chrislynch" ></a><img src="http://ir-uk.amazon-adsystem.com/e/ir?t=chrislynch&l=as2&o=2&a=B00G97233U" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div>

		<div class='book col-xs-4 col-sm-12 col-md-12 col-lg-12'>
			<a href="http://www.amazon.co.uk/gp/product/B004R1Q0UM/ref=as_li_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=B004R1Q0UM&linkCode=as2&tag=chrislynch&linkId=AWVYNZRYTJO5RNLX"><img border="0" src="http://ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B004R1Q0UM&Format=_SL250_&ID=AsinImage&MarketPlace=GB&ServiceVersion=20070822&WS=1&tag=chrislynch" ></a><img src="http://ir-uk.amazon-adsystem.com/e/ir?t=chrislynch&l=as2&o=2&a=B004R1Q0UM" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div>

	</div>
	</div> <!-- End of row -->
	</div> <!-- End of container -->

	<div class='container'>
		<div class='row'>
			<div id='pager' class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				{% if this.app.pages > 1 %}
					<ul class="pagination">
						<li><a href="#">&laquo;</a></li>
						{% for i in range(1,this.app.pages) %}
	    					<li><a href='?page={{ i }}'>{{ i }}</a></li>
						{% endfor %}
						<li><a href="#">&raquo;</a></li>
					</ul>
				{% endif %}
			</div>
		</div>
		<div class='row'>
			<div id='footer' class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				
			</div>
		</div>
	</div>


</body>
{% if this.app.posts|length > 1 %}
	<script>
	// jQuery
	var $container = jQuery('#content');
	// initialize
	$(document).ready(function() {
		$container.packery({
		  itemSelector: '.item',
		  columnWidth: ".itemsizer",
		  rowHeight: 1,
		  gutter: 0
		});
		$container.layout();
		$(window).trigger('resize');
	});
	</script>
{% endif %}
</html>
