@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700,900);

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14pt;
	line-height: 20pt;
	text-align: justify;
}

.container {
	
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1, h1 a {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #8A0808;
	text-align: left;
	text-transform: uppercase;
}

h2,h3,h4,h5,h6, h2 a {
	font-family: 'Bitter', serif;
	font-weight: 700;
	color: #8A0808;
	text-align: left;
}

h1 { font-size: 36pt; }

h2 { font-size: 24pt; }

h3 { font-size: 18pt; }

h4 { font-size: 16pt; }

#masthead {
	border-bottom: 2px solid gray;
	padding-left: 0px;
}

#logo { padding-left: 0px; }

#logo h1, #logo h1 a {
	color: gray;
}


#content { padding: 0px; }
		
.itemsizer { width:33% }

.item { width:33%; marginl-left:0px; margin-right:0px; margin-top:5px; margin-bottom:0px; padding-right: 10px;}
.item-video { width:33%; margin:0px; padding-right: 10px; }

.iteminner {border-bottom: solid 1px black; background: white; padding: 5px; }

.item h2, .item h2 a { font-family: Oswald, serif; text-transform: uppercase;
	   margin-top: 0px; margin-bottom: 2px }

.excerpt { font-size: 10pt; }

.postinfo {
	font-size: 10pt;
	text-align: left;
	background-color: gainsboro;
}

.postinfo a {
	color: #8A0808;
}

#sidebar { text-align: center; }
#sidebar h1 { text-align: center; margin-top: 5px; }
#sidebar h2 { font-size: 18pt; text-align: center; }
#sidebar h3 { font-size: 16pt; text-align: center; }
