@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic,700|Six+Caps);

body {
	font-family: 'Cardo', serif;
	font-size: 14pt;
	line-height: 20pt;
	text-align: justify;
}

.container {
	
}

h1,h2,h3,h4,h5,h6, h1 a, h2 a {
	font-family: 'Six Caps', sans-serif;
	color: #8A0808;
	/* text-align: left; */
}

h1 {
	font-size: 48pt;
}

h2 {
	font-size: 36pt;
}

h3 {
	font-size: 24pt;
}

#logo {
	border-bottom: 2px solid gray;
}

#logo h1, #logo h1 a {
	color: gray;
}

#content {
	background: url('background.jpg');
	background-repeat: no-repeat;
	background-position: top right;

}

#left {
	background: white;
	opacity: 0.8;
    	filter: alpha(opacity=80);
}

#right {
	background: rgba(255, 255, 255, 0.8);
	text-align: center;
}

#right .opaque {
	background: rgba(255, 255, 255, 1);
}
