@import url("http://fonts.googleapis.com/css?family=Sonsie+One");
/* COLOUR SCHEME SOURCED FROM 
http://www.colorcombos.com/color-schemes/2/ColorCombo2.html
*/
 

/* BASIC ELEMENTS */

root { 
    display: block;
}

body {
    font-family: sans-serif;
    font-size: 8pt;
    color: black;
    
    background: url("images/background.jpg");
    background-color: #4e1f05;
    background-repeat: repeat-x;
    
}

#container-container {
        
    background-color: white;
    width: 1000px;
        
    border-color: #4e1f05;
    border-style: solid;
    border-width: 1px;
    
    border-radius: 12px;
    border-radius: 12px;
    
    -webkit-radius: 12px;
    -webkit-radius: 12px;
    -moz-border-radius: 12px;
    -moz-border-radius: 12px;
    
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    background-color: white;
}

h1 {
    font-size: 2.0em;
    margin-bottom: 15px;
}

    h1 a {
        text-decoration: none;
        color: black;
    }

h2 {
    font-size: 1.5em;
}

    h2 a {
        text-decoration: none;
        color: black;
    }

h3,h4 {
    font-size: 1.0em;
}

a {
    color: black;
    text-decoration: none;
}

    a:visited {
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: red;
        text-decoration: none;
    }

    a:active {
        color: red;
        text-decoration: none;
    }

/* HEADER ELEMENTS */

#header {
    border-bottom: #000;
    border-bottom-style: solid;
    padding-bottom: 5px;
} 

    #header #sitename #sitename-sitename {
        color: #097054;
        font-family: 'Sonsie One', cursive;
        font-size: 16pt;
    }
    
    #header #sitename img{
        float: left;
        height: 40px;
        padding-right: 5px;
    }
    
    #header #sociallinks {
        text-align: right;
        margin-top: 10px;
    }
    
    #header a{
        text-decoration: none;
        color: inherit;
    }

#header-account {
    padding-top: 3px;
}

    #header-account a {
        color: blue;
    }    

#header-cart {
    padding-top: 3px;
}
 
    #header-cart a.checkout {
        color: red;
    }

#primary-links {
    padding-bottom: 5px;
}
    
/* SIDEBAR */    
    
#sidebar {
    margin-top: 12px;
}

#sidebar-left #nav{
    width: 150px;
}

#sidebar-right .sidebar-heading{
    background-color: #6599FF;
    font-size: 1.5em;
    color: white;
    
    margin-bottom: -11px;
    
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    
    -webkit-border-top-left-radius: 12px;
    -webkit-border-top-right-radius: 12px;
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 12px;
}

#sidebar-right .sidebar-item {
    padding-top: 10px;
    padding-bottom: 10px;
    
    margin-bottom: 10px;
    
    border-left-style: solid;
    border-left-color: #6599FF;
    border-left-width: 2px;
    
    border-right-style: solid;
    border-right-color: #6599FF;
    border-right-width: 2px;
    
    border-bottom-style: solid;
    border-bottom-color: #6599FF;
    border-bottom-width: 2px;
    
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
}

#sidebar-right h4 {
    display: none;
}

/* FOOTER */

#footer {
    border-top: #000;
    border-top-style: double;
    
    border-bottom: #000;
    border-bottom-style: solid;
    
    margin-top: 60px;
}

/* GENERAL CONTENT ELEMENTS */

.content-info{
    font-size: small;
    background: gainsboro;
}

/* PAGER */

.PaginationWidget {
		text-align:center;
	}
    .PaginationWidget ul {

    }
        .PaginationWidget ul li {
                display: inline;
                list-style: none;
                padding-right: 5px;
                margin: 0;
        }
            .PaginationWidget ul li img {
                    margin-bottom: -2px;
            }
            .PaginationWidget ul li a {
                    padding-left:8px;
                    padding-right:8px;
                    padding-top:5px;
                    padding-bottom: 5px;
                    border: solid #999999 1px;
                    text-decoration: none;

                    color:black;
                    background-color: #cccccc;

                    background-image: -moz-linear-gradient(100% 100% 90deg, #999999,#cccccc);
                    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cccccc), to(#999999));

                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -webkit-box-shadow: 0 2px 3px rgba(0,0,0, .4);
                    -moz-box-shadow: 0 2px 3px rgba(0,0,0, .4);

            }
            .PaginationWidget ul li a:hover {
                    color:white;
                    background-color: #385b7b;
                    background-image: -moz-linear-gradient(100% 100% 90deg, #385b7b,#48739c);
                    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#48739c), to(#385b7b));
            }
            .PaginationWidget ul li a.selected {
                    background-color: #eeeeee;
                    color: black;

                    background-image: -moz-linear-gradient(100% 100% 90deg, #eeeeee, #ffffff);
                    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#eeeeee));
            }

/* ERROR MESSAGES */

.ErrorMessage {
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
        border-bottom: 1px solid #cccccc;
        background-color: #a70f0f;
        background-image: -moz-linear-gradient(100% 100% 90deg, #a70f0f, #c01313);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c01313), to(#a70f0f));
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px
}
.SuccessMessage {
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
        border-bottom: 1px solid #cccccc;
        background-color: #4f8d0d;
        background-image: -moz-linear-gradient(100% 100% 90deg, #4f8d0d, #5ba210);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5ba210), to(#4f8d0d));
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;
}
.InfoMessage {
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
        border-bottom: 1px solid #cccccc;
        background-color: #007fff;
        background-image: -moz-linear-gradient(100% 100% 90deg, #007fff, #007fff);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#007fff), to(#007fff));
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;

}


/*
==============================================================================
PRODUCT SPECIFIC ELEMENTS
==============================================================================
*/

.product-2{
    padding-top: 10px;
    padding-bottom: 10px;
    
    margin-bottom: 10px;
    
    border-style: solid;
    border-color: #FFDE00;
    border-width: 2px;
    border-radius: 6px;
    
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    
    float: left;
    height: 200px;
    width: 302px;
    margin-right: 8px;
}

.product-2 .product-heading {
    background-color: #FFDE00;
    margin-top: -10px;
}

.product-2 .product-image {
    height: 180px;
    width: 140px;
    overflow: hidden;
    float: left;
    vertical-align: middle;
}

.product-2 .product-name {
    height: 80px;
}

.product-2 .product-heading {
    width: 135px;
    position: relative;
    left: 5px;
    top: 5px;
    z-index: 1;
}

.product-2 .Sale {
    margin-bottom: -18px;
    background-color: #FF0000;
    color: white;
    font-size: 12pt;
}

.product-2 .wasprice {
    text-decoration: line-through;
    font-size: 1.25em;
}

.product-2 .sellingprice {
    color: red;
    font-size: 2em;
}

.product-2 .product-image img{
    width: 95%;
    overflow: hidden;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.product-4 {
    padding-top: 10px;
    padding-bottom: 10px;
    
    margin-bottom: 10px;
    
    border-style: solid;
    border-color: #FFDE00;
    border-width: 2px;
    border-radius: 6px;
    
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    
    float: left;
    height: 340px;
    width: 145px;
    margin-right: 8px;
}

.product-4 .product-heading {
    background-color: #FFDE00;
    margin-top: -10px;
}

.product-4 .product-image {
    height: 150px;
    overflow: hidden;
}

.product-4 .product-name {
    height: 80px;
}

.product-4 .product-heading {
    width: 135px;
    position: relative;
    left: 5px;
    top: 5px;
    z-index: 1;
}

.product-4 .Sale {
    margin-bottom: -18px;
    background-color: #FF0000;
    color: white;
    font-size: 12pt;
}

.product-4 .wasprice {
    text-decoration: line-through;
    font-size: 1.25em;
}

.product-4 .sellingprice {
    color: red;
    font-size: 2em;
}

.product-4 .product-image img{
    width: 95%;
    overflow: hidden;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

/* BUTTONS */

.button-highlight {
 
   background: #FF9900;
 
   padding: 9px 18px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   
   
   color: #000000;
   font-size: 14px;
   
   text-decoration: none;
   vertical-align: middle;
   }

   .button-highlight:hover {
        background: #d40000;
        color: #fafafa;
    }

    .button-highlight:active {
        background: #c40000;
    }
   
/* GENERAL */

.centered {
    text-align: center;
}